/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body{
    width:100%;
    height:100%;
    min-width: 100%; min-height: 100%;
}

body{
    background: #b50;
    background-size: cover;
    -webkit-background-size: cover;
    color:#fff;
}

.container {
    -moz-box-shadow: inset 0 0 25em rgba(0,0,0,0.75);
    -webkit-box-shadow: inset 0 0 25em rgba(0,0,0,0.75);
    box-shadow: inset 0 0 25em rgba(0,0,0,0.75);
    min-height: 100%;
}

.wrapper{
    /*position:absolute;
    z-index: 10;*/
}


a{
    color:#fff;
}

.page-header{
    margin: 0% 2%;
}

.page-header .logo{
    display:block;
    float:left;
    width:100px;
}

.page-header h1{
    float:left;
    font-family:'Anton', sans-serif;
    font-size: 3em;
    font-weight:400;
    margin: 0.5em 0.5em;
    line-height: 1em;
}

#content, #eyepad{
    /*width:50%;
    float:left;
    max-width: 600px;*/
}

#content p{
	  width: 90%;
  font-size: 20px;
  float: left;
  margin-left: 5%;
  text-align: justify;
}

#content #logo{
	  float: left;
  width: 100%;
  margin-left: 0%;
  text-align: center;
}

#content #logo img{
    float: left;
    width: 50%;
    margin: 0% 25%;
}

#content #logo h1{
    float: left;
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  font-weight: 400;
  margin: 20px 0px 0px 0px;
  line-height: 1.1em;
  text-transform: uppercase;
  text-align: center;
  width:100%;
}

#content #try{
	float:right;
}

.appstore{
    float: left;
    width: 50%;
    margin: 10px 0px;
    text-align: center;
}

#eyepad{
    position:relative;
    left:50%;
    width:420px;
	height:620px;
    margin-left:-240px;
	background: transparent url('../img/eyepad.png') top left no-repeat;
}

#eyepad #carousel{
    position:relative;
    width: 320px;
    height: 480px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
}

#carousel{
    /*position:absolute;
    top:0px;
    left:0px;
    width:320px;
    height:480px;*/
}

.btn{
    position: relative;
    top: -260px;
    left: 19px;
    width: 25px;
    height: 25px;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 50%;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

#btnr{
    left: 342px;
}

#slide{
    position:absolute;
    left:0px;
    /*border:solid 1px #f00;*/
    height:100%;
    width:1600px;
    transition: left 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

#slide td{
    /*border:solid 1px #00f;*/
    height:100%;
    width:320px;
    text-align:center;
    padding:0px;
}

#slide td span{
    font-size:24px;
    color:#6a3;
    line-height:96px;
}

img.turkeys{
    width:50%;
    margin:2% 25%;
}

#policy{
	width:420px;
	height:620px;
	float:right;
}

#footer{
  position: fixed;
  float:right;
  width: 100%;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  font-family:sans-serif;
}

#footer .policy{
  background: rgba(255,255,255,0.8);
  font-size: 12px;
  color: #333;
  line-height: 12px;
  margin-left: 10px;
  padding: 3px 10px;
  font-weight: bold;
  float: left;
}

#footer a.gz {
  width: auto;
  color: #fff;
  line-height: 18px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  background: rgba(0,0,0,0.8);
  padding: 0px 15px 4px 0px;
  text-decoration: none;
  overflow: hidden;
  margin: 0px 0px;
  display: block;
  float: right;
}

#footer a.gz .badge {
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  background: #7cb750;
  line-height: 36px;
  font-family: serif;
  padding: 4px 15px 6px 15px;
  margin: 0px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 760px) {
    .page-header{
        margin: 0% 1%;
    }

    .page-header .logo{
        display:block;
        float:left;
        width:50px;
    }

    .page-header h1{
        float:left;
        font-family:'Anton', sans-serif;
        font-size: 1.5em;
        font-weight:400;
        margin: 0.5em 0.25em;
        line-height: 1em;
    }

    img.turkeys{
        width:80%;
        margin:2% 10%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
