html, body, .page__background{
    background:#bb5500;
    color:#fffddd;
}

.page__background:after {
 -moz-box-shadow: inset 0 0 10em rgba(0,0,0,0.6);  
 -webkit-box-shadow: inset 0 0 10em rgba(0,0,0,0.6);   
 box-shadow: inset 0 0 10em rgba(0,0,0,0.6);
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
 content: "";
}

html, body, .page__content{
    color:#fffeee;
}

.button{
    z-index: 5000;
}


h1{
    font-family:'Anton', sans-serif;
    color:#fffeee;
    font-weight:normal;
    font-size: 2em;
    line-height: 1em;
    margin: 0% 0% 5% 0%;
    text-transform:uppercase;
}

p{
    text-align: justify;
    margin:5% 10%;
    width:80%;
    font-size:14px;
    line-height: 16px;
}

.close-btn{
      float: right;
  margin: -15px;
  padding: 5px 15px;
  font-size: 24px;
  color: #b50;
  background: transparent;
}

.navigation-bar{
    background-color: rgba(255,255,255,0.85);
    border: none;
    color: #fffeee;
    -webkit-box-shadow: 0px 7px 20px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 7px 20px -5px rgba(0,0,0,0.75);
box-shadow: 0px 7px 20px -5px rgba(0,0,0,0.75);
}

ons-toolbar ~ .page__content {
    top: 54px;
}

.navigation-bar__title, .toolbar-button, .toolbar-button--outline, .toolbar-button--quiet, .navigation-bar .button {
    color: #b50;
    background: transparent;
}

.iOS .navigation-bar {
    padding-top: 0px;
    height: 60px;
}

.iOS ons-toolbar ~ .page__content {
    top: 70px;
}

.navigation-bar .button{
    font-size: 28px;
    line-height: 38px;
}

.dialog{
    color:#b50;
    background:#fffeee;
    border-radius:5px;
    width: 90%;
    padding: 5%;
    white-space: normal;
    text-align: justify;
    margin-left: 0%;
    
}

.dialog p{
    margin: 0px 0px 20px 0px;;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  clear:both;
}

.dialog input{
    width:100%;
    margin:10px 0px;
    border-color:#b50;
    
}

.dialog .control-btn{
    width: 48%;
    height: 50px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    background-color: #b50;
    color: #fffeee;
    margin-top:30px;
        position: relative;
    z-index: 9000;
}

.dialog .control-btn:first{
    margin-right:4%;
}

.dialog .wide-btn{
    width: 100%;
    text-align: center;
}

.button-bar__button, .dialog input{
    color: #b50;
    font-size: 20px;
    line-height: 40px;
    height: auto;
}

.button-bar__item.active > .button-bar__button, :checked + .button-bar__button {
  background-color: #b50;
  color: #fffeee;
}

.button-bar__item:first-child > .button-bar__button, .button-bar__item:last-child > .button-bar__button {
  border-color: #b50;
}

.infopage ons-toolbar ~ .page__content {
    top: 48px;
}

.infolist{
    background:transparent;
    border:none;
    margin-top:15px;
    margin-bottom:75px;
}

.infolist p{
    /*font-size:16px;*/
}

.infolist .list__item{
    color:#fffeee;
    font-size:20px;
    line-height: 24px;
    padding: 10px 0px;
    text-align: justify;
    border: none;
}

.infolist .list__item:first-child:last-child{
    border: none;
}

.infofoot.foot_ctrl{
    background-color:rgba(0,0,0,0.6);
}

h1.logo{
    font-size: 44px;
    margin: 3% 0% 0% 0%;
}

h1.logo span{
    display:block;
      font-size: 50px;
}

img.logo{
    width: 50%;
    margin: 0% 25% 0% 25%;
}

img.gluten{
    width: 35%;
    transform: rotate(-10deg) translateX(70%);
    -webkit-transform: rotate(-10deg) translateX(70%);
}

.mcopy{
    font-size: 16px;
    width: 80%;
    margin: 2% 10%;
    line-height: 18px;
}

.vmode{
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    line-height: 44px;
    margin: 0%;
    padding: 0%;
    width: 90%;
}

.vmode .switch__input + .switch__toggle {
    background-color: rgba(0,0,0,0.45);
}

.vmode .switch__input:checked + .switch__toggle {
    background-color: rgba(100,255,75,0.65);
}

#spacializer{
    width:94%;
    margin-left:3%;
}

#spacializer h2{
    position:absolute;
    top:30%;
    width:94%;
    text-align: center;
}

#volumizer{
    /*position: absolute;
    left:0%;
    top:50%;*/
    border: solid 1px rgba(255,255,255,0.85);
}

#picturizer{
    background:#eee url('../img/photo_bkg.png');
    border: solid 1px rgba(255,255,255,0.85);
}

#zoomctrl{
    position: absolute;
    z-index: 100;
    width: 95%;
}

#zoomctrl .button {
    width: 25%;
    margin: 0% 5%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    background: rgba(255,254,238,0.70);
    color: #bb5500;
}

.dims{
    margin-bottom:10px;
}

.dims label{
    display:block;
    float:left;
    width:49%;
    text-align:right;
}

.dims span{
    display:block;
    float:right;
    width:49%;
    text-align:left;
    text-transform:lowercase;
}

img.tkyvol{
    width: 94%;
    border: solid 1px rgba(255,255,255,0.75);
    margin-top: 2%;
}

.gzad_banner{
    width: 100%;
    height: 90px;
    margin: 0px;
    background-color:transparent;
    color:#ccc;
    padding:0px;
    overflow: hidden;
}

.foot_ctrl{
    position:absolute;
    bottom:0px;
    left:0px;
    width: 100%;
    background: transparent;
    text-transform : uppercase;
    z-index:2000 !important;
}

.foot_ctrl h3{
    margin: 10px 0px 4px 0px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    line-height: 22px;
    color: #fffeee;
}

.foot_ctrl .button {
      width: 45%;
  margin: 3% 0% 3% 3%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  background:rgba(255,254,238,0.95);
  color:#bb5500;
}

.effeckt-button > .spinner {
  border-color:#b50;
}

.foot_ctrl .button.wide, .foot_ctrl .button.wide-btn {
    width:94%;
}

.foot_ctrl .button.share-btn {
    width: 20%;
    font-size: 20px;
    line-height: 40px;
}

.foot_ctrl .button span.fa{
    padding-right:10px;
}

.zeta{
    text-transform: lowercase;
    font-family: 'ZetaGreek', serif;
    font-size: 30px;
    padding-right: 10px;
    line-height: 0px;
    vertical-align: sub;
}

@media only screen 
and (max-height: 480px) {
    
    .gluten{
        display:none;
    }
    
    .foot_ctrl h3{
        font-size:12px;
        line-height: 13px;
    }
    
    
    .foot_ctrl p{
        display:none;
    }
    
    .foot_ctrl .button {
        line-height: 30px;
    }
    
    .foot_ctrl .button.restart-btn {
        margin-top:0%;
    }
    
    .foot_ctrl .button.share-btn {
        width: 20%;
        font-size: 14px;
        line-height: 30px;
    }
}