<ons-page ng-controller="InfoCtrl">

    <ons-toolbar>
        <div class="left">
            <div class="left"><ons-back-button>Back</ons-back-button></div>  
        </div>
        <div class="center">Info</div>
        <div class="right">
            <!--<ons-toolbar-button ng-click="DoDelete()" class="delete-btn"><ons-icon icon="trash-o"></ons-icon></ons-toolbar-button>-->
        </div>
    </ons-toolbar>
    <ons-list class="infolist">
        <ons-list-item>
            <p>
                
            </p>
            <p>
            
                
            </p>
            <p>
                Turkey Volume Guessing App was created by Internet software developer Matthew Wilber. For more information, visit greenzeta.com
            </p>
        </ons-list-item>
    </ons-list>
    
    <form class="foot_ctrl">
        <ons-button class="save-btn wide-btn" ng-click="ViewGZPage()"><span class="zeta">&zeta;</span> Other GreenZeta Apps</ons-button>
        <!--<ons-button class="close-btn" ng-click="app.navi.popPage()"><ons-icon icon="times"></ons-icon></ons-button>-->
    </form>

</ons-page>