<ons-page id="sharepage" ng-controller="ShareCtrl">
    <div id="banner_group" class="expanded first-run">
        <a id="" href="#" onclick="GZAD_collapse(); return false;" class="banner_close fa fa-times"></a>
        <iframe class="gzad_banner" id="gzad_banner" frameBorder="0"></iframe>
        <img class="tkyvol" src="{{ tkyImage }}"/>
        <form class="foot_ctrl tkyvol">
            <ons-button class="capture-btn wide" ng-click="TurkeySave()" ng-if="!shareUrl" should-spin="{{publishStatus}}" animation="zoom-in"><span class="fa fa-globe fa-lg"></span>Share</ons-button>
            <ons-button class="tw-btn share-btn" ng-click="TwShare()" ng-if="shareUrl"><ons-icon icon="twitter"></ons-icon></ons-button>
            <ons-button class="fb-btn share-btn" ng-click="FbShare()" ng-if="shareUrl"><ons-icon icon="facebook"></ons-icon></ons-button>
            <ons-button class="pn-btn share-btn" ng-click="PnShare()" ng-if="shareUrl"><ons-icon icon="pinterest"></ons-icon></ons-button>
            <ons-button class="gp-btn share-btn" ng-click="GpShare()" ng-if="shareUrl"><ons-icon icon="google-plus"></ons-icon></ons-button>
            <ons-button class="restart-btn wide" ng-click="myNavigator.resetToPage('home.html')" style=""><span class="fa fa-repeat fa-lg"></span>Do Another One</ons-button>
        </form>
    </div>
    
    <div style="clear:both;"></div>
    
    
</ons-page>
