<ons-page ng-controller="VolumizerCtrl">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
    </ons-toolbar>
    
    <ons-modal var="mdim">
        <div class="dialog">
            <ons-button class="close-btn" onclick="mdim.hide()"><ons-icon icon="times"></ons-icon></ons-button>
            <p>Enter the actual height or width of the space:</p>
            <div class="button-bar" style="width:100%">
              <div class="button-bar__item">
                <input type="radio" name="ddim" value="h" ng-model="ddim" checked>
                <button class="button-bar__button">Height</button>
              </div>
              <div class="button-bar__item">
                <input type="radio" name="ddim" value="w" ng-model="ddim">
                <button class="button-bar__button">Width</button>
              </div>
            </div>
            <input id="dval" type="number" class="text-input" placeholder="10" width="100%" ng-model="dval"/>
            <div class="button-bar" style="width:100%">
              <div class="button-bar__item">
                <input type="radio" name="dunit" value="f" ng-model="dunit" checked>
                <button class="button-bar__button">Feet</button>
              </div>
              <div class="button-bar__item">
                <input type="radio" name="dunit" value="m" ng-model="dunit">
                <button class="button-bar__button">Meters</button>
              </div>
            </div>
            
            <ons-button class="control-btn" ng-click="SetDim()" style="width:100%;"><ons-icon icon="check"></ons-icon></ons-button>
        </div>
    </ons-modal>

    <div style="text-align: center">
        <h1>Define the space</h1>
        <canvas id="volumizer" width="{{canvasWidth}}" height="{{canvasHeight}}" style="{{canvasStyle}}"></canvas>

    </div>
    
    <div style="clear:both;"></div>
    
    <form class="foot_ctrl">
        <h3 class="dims"><label>Height:</label><span>{{actualHeight}}</span><br/><label>Width:</label><span>{{actualWidth}}</span><br/><label>Depth:</label><span>{{actualDepth}}</span></h3>
        <ons-button id="setdims" class="capture-btn" ng-click="OpenDimModal()" ng-class="{wide: !tkyVol.CheckDim()}"><span class="fa fa-arrows fa-lg"></span>Set Dimensions</ons-button>
        <ons-button class="capture-btn" ng-click="TurkeyFill()" ng-if="tkyVol.CheckDim()"><span class="fa fa-cube fa-lg"></span>Guess</ons-button>
    </form>
</ons-page>
